.shipping-form{
    margin:30px 150px;
}
.shipping-form input {
    display: block;
    margin-top: 30px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 300px;
}
.error{
    color: red;
}
/* Make it responsive */
@media only screen and (max-width:688px) {
    .shipping-form{
        margin: 0;
        width: 100%;
    }
}
@media only screen and (min-width:689px) and (max-width: 991px){
    .shipping-form{
        grid-template-columns: repeat(1, 1fr);
    }
}